.sidebar {
  overflow: auto;
  height: 100vh;
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}
.logo {
  text-align: center;
  color: #fff;
  height: 45px;
  text-transform: uppercase;
  background: #222;
}
.logo p {
  padding-top: 12px;
}
