.logo {
  width: 79px;
  margin-bottom: 5px;
}
.side-bar-menu {
  width: 80px;
  height: 91.6vh;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #813588;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
.ant-menu-dark .ant-menu-item-selected .anticon {
  color: #813588;
}
