.board-container {
  margin-top: 40px;
}
.board-container .board-column {
  background: #ddd;
  padding: 8px 10px;
  height: 76vh;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.on-track,
.delayed,
.on-hold {
  color: #222;
  font-weight: 800;
}
.card {
  padding: 10px;
}
